#titulo {
  font-family: "Pacifico", cursive;
  font-size: 4em;
}
body {
  background-color: pink;
}
#hms {
  font-family: "Pacifico", cursive;
  font-family: "Rubik Marker Hatch", cursive;
  font-size: 5em;
}
